{% extends 'main/base.html' %}

{% block title %}
Добавить тест
{% endblock %}

{% block content %}
<div>
	<ul class="menu">
		<li><a href="{% url 'test_home' %}">Все тесты</a></li>
		<li><a href="#">Мои тесты</a></li>
		<li><a href="{% url 'addtest' %}">Добавить тест</a></li>
	</ul>
</div>

<form method="post">
	{% csrf_token %}
    {{ form.text_answer }}<br>
    {{ form.id_question }}<br>
    <p>Вреный ответ {{ form.try_answer }}</p><br>


    <button type="submit" class="btn btn-success">Добавить ответ</button>
	<span>{{ error }}</span>
</form>
{% endblock %}
