{% extends 'main/base.html' %}

{% block title %}
Добавить тест
{% endblock %}

{% block content %}
<div>
	<ul class="menu">
		<li><a href="{% url 'test_home' %}">Все тесты</a></li>
		<li><a href="#">Мои тесты</a></li>
		<li><a href="{% url 'addtest' %}">Добавить тест</a></li>
	</ul>
</div>

<div class="user_test">

			<form id="form2" action="/" method="post">



			<fieldset>

    {% csrf_token %}
    {{ form.title }}<br>

    <span>{{ error }}</span>

    <button type="submit" class="btn btn-success">Добавить тему</button>


				<p class="first" id="input0">

				</p>

				<div class="add" onclick="addQuestion()" >Добавить вопрос</div>
				<div class="add" onclick="addAnswer()">Добавить Ответ</div>
				<p class="submit"><button type="submit">Добавить тест</button></p>

			</fieldset>

		</form>

</div>
{% endblock %}
