{% extends 'main/base.html' %}

{% block title %}
{{ post.title}}
{% endblock %}



{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.task }}</p>
<p>{{post.teache }}</p>
<div class="menu_gl">
	<ul class="menu">
		<li><a href="{% url 'answer_delete' pk kk tt %}">Удалить ответ</a></li>
		<li><a href="{% url 'answer_update' pk kk tt %}">Изменить ответ</a></li>
	</ul>
</div>




<div class="co">
    {% if ans %}
    {% for el in ans %}
	

		<table class="tftable">
			<tr>
				<th class="p-2 text-dark">Ответ на вопрос</th>
				<th class="p-2 text-dark">Правельный / Неправельный </th>

			</tr>
			<tr>
				<td class="p-2 text-dark">{{ el.text_answer }}</td>
				<td class="p-2 text-dark">{{ el.try_answer }}</td>
			</tr>
		</table>
{%endfor%}
   {% else %}
   <p>Вы не добавили ответов</p>
   {%endif%}
   {% endblock %}

</div>