{% extends 'main/base.html' %}

{% block title %}
{{ post.title}}
{% endblock %}



{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.task }}</p>
<p>{{post.teache }}</p>
<div class="menu_gl">
	<ul class="menu">
		<li><a href="{% url 'answer_delete' pk kk tt %}">Удалить ответ</a></li>
		<li><a href="{% url 'answer_update' pk kk tt %}">Изменить ответ</a></li>
	</ul>
</div>




<div class="co">


		<table class="iksweb">
			<tbody>
          {% if ans %}
    {% for el in ans %}
				<tr>
					<td class="table_na">{{ el.text_answer }}</a></td>
					<td class="table_na">{{ el.try_answer }}</td>
				</tr>
		{%endfor%}
			</tbody>
		</table>


   {% else %}
   <p>Вы не добавили ответов</p>
   {%endif%}
   {% endblock %}

   