{% extends 'main/base.html' %}

{% block title %}
{{ test_name }}
{% endblock %}




{% block content %}


<div class="co">
	{% if quest %}
	{% for el in quest %}
		<p> Вопрос номер {{ el.number }}: {{ el.text }}</p><br>
    {% if ans %}
	{% for answers in ans %}
			{% for answer in answers %}
				{% if answer.id_question == el %}
       <ul>
            <li><input type="radio"> {{ answer.text_answer }}</li>
        </ul>
				{% endif %}
		{% endfor %}
	{% endfor %}
	{% else %}
	<p>Вы не добавили вопрос</p>
	{%endif%}


	{% endfor %}
	{% else %}
	<p>Вы не добавили вопрос</p>
	{%endif%}



</div>
{% endblock %}