{% extends 'main/base.html' %}

{% block title %}
{{ test_name }}
{% endblock %}




{% block content %}


<div class="co">
<form method="post">
	{% csrf_token %}
	{% if quest %}
	{% for el in quest %}
		<p> Вопрос номер {{ el.number }}: {{ el.text }}</p>
    {% if ans %}
	{% for answers in ans %}
			{% for answer in answers %}
				{% if answer.id_question == el %}
       <ul>
            <li><input type="radio" name="{{ el.number }}"> {{ answer.text_answer }}</li>
        </ul>
				{% endif %}
		{% endfor %}
	{% endfor %}
	{% else %}
	<p>Вы не добавили вопрос</p>
	{%endif%}


	{% endfor %}
	{% else %}
	<p>Вы не добавили вопрос</p>
	{%endif%}
<button type="submit" class="btn btn-success">Отправить тест</button>

</form>
</div>
{% endblock %}