{% extends 'main/base.html' %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}
<div>
	<ul class="menu">
		<li><a href="{% url 'test_home' %}">Все тесты</a></li>
		<li><a href="#">Мои тесты</a></li>
		<li><a href="{% url 'addtest' %}">Добавить тест</a></li>
	</ul>
</div>

{% if ku %}
{% for el in ku %}

	<table class="tftable">
		<tr>
			<th class="table_na">Название теста</th>
			<th>Ссылка</th>
		</tr>
		<tr>
			<td class="p-2 text-dark">{{ el.test_name }}</td>
			<td class="p-2 text-dark"><a href="{% url 'test_dateil' el.id %}">Перейти</a></td>
		</tr>
	</table>
{%endfor%}
{% else %}
<p>Вы не добавили тест</p>
{%endif%}
{% endblock %}