{% extends 'main/base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}



{% block content %}
<h1>{{ test_name }}</h1>
<p>{{ post.task }}</p>
<p>{{post.teache }}</p>
<div class="menu_gl">
	<ul class="menu">
		<li><a href="{% url 'delete' pk %}">Удалить курс</a></li>
		<li><a href="{% url 'update' pk %}">Изменить курс</a></li>
		<li><a href="{% url 'newtopic' pk %}">Добавить вопрос</a></li>
	</ul>
</div>



{% if quest %}
{% for el in quest %}
{{ el.test_name }}
{% endfor %}
   {% else %}
   <p>Вы не добавили тесты</p>
   {%endif%}
   {% endblock %}

