{% extends 'main/base.html' %}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}
<div>
	<ul class="menu">
		<li><a href="{% url 'test_home' %}">Все тесты</a></li>
		<li><a href="#">Мои тесты</a></li>
		<li><a href="{% url 'addtest' %}">Добавить тест</a></li>
	</ul>
</div>

{% if ku %}
{% for el in ku %}
<table class="iksweb">
			<tbody>
				<tr>
					<td class="table_na">Название теста</td>
					<td class="table_na">Ссылка</td>
				</tr>
				<tr>
					<td class="table_na">{{ el.test_name }}</td>
					<td class="btn btn-success"><a href="{% url 'test_dateil' el.id %}">Перейти</a>
						</button></td>
				</tr>
			</tbody>
		</table>
{%endfor%}
{% else %}
<p>Вы не добавили тест</p>
{%endif%}
{% endblock %}