{% extends 'main/base.html' %}

{% block title %}

{% endblock %}



{% block content %}
<h1>{{ top.title }}</h1>

<div>
	<ul class="menu">
		<li><a href="{% url 'delete' pk %}">Удалить тему</a></li>
		<li><a href="{% url 'update' pk %}">Изменить тему</a></li>
		<li><a href="{% url 'newtopic' pk %}">Добавить тему</a></li>
	</ul>
</div>




<div class="co">
        {% if top %}

   <div class="kurs">
       <h3>{{ top.title }}</h3>
       <p>{{ top.task }}</p>
   </div>
   

   {% else %}
   <p>Нет содержимого</p>
   {%endif%}
   {% endblock %}